@media screen and (min-width: 769px) and (max-width: 6000px){
  .header,
  .main {
    max-width: 1350px;
    padding-inline: min(47px, max(20px, 1%));
    margin-inline: auto;
  }
  .header {
    gap: 10px;
  }
  .navigation {
    justify-content: space-between;
    height: 120px;
  }

  .navigation--logo {
    padding-top: 25px;
  }

  .navigation--items {
    gap: 15px;
  }
  .navigation--link {
    border-top: 3px solid #ffffff00;
  }
  .navigation--link:hover {
    border-top: 3px solid #0065fc;
  }
  .navigation--link:nth-of-type(1) {
    width: 168px;
  }
  .navigation--link:nth-of-type(2) {
    width: 120px;
  }
  .header > section {
    gap: 20px;
  }
  .search-icon {
    display: none;
  }
  .header--main-form {
    width: 423px;
  }
  .header--main-form button {
    width: 140px;
  }

  .header--main-filters {
    margin-top: 15px;
    gap: 30px;
  }
  .filter--title {
    padding-right: 10px;
  }
  .filter--item h3 {
    font-size: 18px;
  }
  .filter--item h3 {
    padding-right: 23px;
    padding-left: 14px;
  }
  .info--text {
    letter-spacing: 0.3px;
  }

  .hosting {
    padding-left: 30px;
  }
  .hosting .card {
    width: 247px;
  }
  .most-popular {
    padding-inline: 30px;
  }
  .most-popular .card {
    width: 342px;
  }

  .activities .card {
    border-radius: 20px;
  }

}
@media only screen and (min-width: 993px) {


  .hosting-layout {
    flex-direction: row;
    justify-content: center;
  }

  .hosting {
    min-width: 602px;
    max-width: 863px;
    border-radius: 20px;
    background-color: #f2f2f2;
  }

  .hosting .card--wrapper {
    justify-content: flex-start;
    max-width: calc((27px * 2) + (247px * 3)+ 30px);
  }

  .most-popular {
    flex-grow: 1;
    width: 340px;
    max-width: 855px; /*Hosting Card-wrapper Max Width*/
    justify-self: stretch;
  }
  .most-popular {
    order: 2;
  }

  .most-popular .card-content {
    width: 185px;
  }

  .activities {
    margin-top: 60px;
    margin-bottom: 34px;
  }
  .activities .card--wrapper {
    flex-direction: column;
    height: 497px;
    gap: 43px;
  }

  .activities .card {
    width: min(303px, 22%);
  }

  .activities .card-header {
    height: calc(100% - 65px);
  }

  .activities .card:nth-of-type(1),
  .activities .card:nth-of-type(4) {
    flex-grow: 1;
  }
  .activities .card:nth-of-type(2) {
    flex-shrink: 1;
    height: 52%;
  }
  .activities .card:nth-of-type(3) {
    height: calc(100% - 52% - 43px);
  }
  .activities .card:nth-of-type(5) {
    height: 44%;
  }
  .activities .card:nth-of-type(6) {
    height: calc(100% - 44% - 43px);
  }

  .activities .card:nth-of-type(1) img {
    width: 105%;
    height: 105%;
    object-fit: cover;
    object-position: bottom;
  }
  .activities .card:nth-of-type(2) img {
    width: 100%;
    height: 120%;
    object-fit: cover;
    object-position: center;
  }
  .activities .card:nth-of-type(3) img {
    width: 102%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  .activities .card:nth-of-type(4) img {
    width: 105%;
    height: 110%;
    object-fit: cover;
    object-position: top;
  }
  .activities .card:nth-of-type(5) img {
    width: 105%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  .activities .card:nth-of-type(6) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  .activities .card-content {
    padding-top: 20px;
    padding-left: 20px;
  }

  /*endregion*/
  /*endregion*/
}
