@media only screen and (min-width: 769px) {
  /*region Header*/
  .header {
    margin-inline: 50px;
    gap: 10px;
  }

  /*region Navigation*/
  .navigation {
    justify-content: space-between;
    height: 120px;
  }
	.navigation--logo {
		padding-top: 25px;
	}

	.navigation--items {
    gap: 15px;
  }
  .navigation--link {
    border-top: 3px solid #ffffff00;
  }
  .navigation--link:hover {
    border-top: 3px solid #0065fc;
  }
  .navigation--link:nth-of-type(1) {
    width: 168px;
  }
  .navigation--link:nth-of-type(2) {
    width: 120px;
  }
  /*endregion*/
  .search-icon {
    display: none;
  }
  .header > section {
    gap: 20px;
  }
  .header--main-form {
    width: 423px;
  }
  .header--main-form button {
    width: 140px;
  }
  /*endregion*/
}

@media only screen and (min-width: 993px) {
}
