@media only screen and (min-width: 993px) {

  body > main,
  body > header {
    padding-left: 30px;
    padding-right: min(30px, 1% )
  }
  /*region ⭐️ Section-Hosting*/

  .hosting {
    flex-basis: 60%;
    padding: min(30px, 1vw);
  }
  .hosting .card {
    width: 30%;
    /*width: min(220px, max(190px, 15vw));*/
    height: var(--card-height);
  }
  /*endregion*/

  /*region ⭐️ Section-most-Popular*/
  .most-popular {
    flex-basis: 30%;
    padding: min(30px, 2vw);
    border-radius: 20px;
  }
  .most-popular > * {
    flex-basis: 100%;
  }
  .most-popular .card-header {
    overflow: hidden;
    width: 35%;
    height: calc(100% - 8px);
    margin-left: 4px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-block: auto;
  }
  .most-popular .card {
    width: var(--card-width);
    height: 120px;
  }

  /*endregion*/
  /*endregion*/

  /*region ⭐️ Section-Activity*/
  /*region Container*/
  .activities {
    flex: 100%;
  }
  .activities :first-child {
    flex-basis: 100%;
  }

  .activities .cards-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: var(--main-width);
    max-height: calc((var(--card-height) * 1.9));
    column-gap: min(30px, 1vw);
  }

  /*endregion*/
  /*region Card Layout*/
  .activities .card {
    width: max(200px, min(270px, 20vw));
  }

  .activities .card:first-of-type {
    height: 100%;
  }

  .activities .card:nth-of-type(2) {
    height: 60%;
  }

  .activities .card:nth-of-type(3) {
    height: calc(40% - 30px);
  }

  .activities .card:nth-of-type(4) {
    height: 100%;
  }

  .activities .card:nth-of-type(5) {
    height: var(--card-height);
  }

  .activities .card:nth-of-type(6) {
    height: calc(100% - var(--card-height) - 30px);
  }

  /*endregion*/
  /*region Card Header*/
  .activities .card-header {
    height: calc(100% - 40px);
  }

  /*endregion*/
  /*region Card Content*/
  .activities .card-content {
    margin: 10px;
  }

  /*endregion*/
  /*endregion*/
  /*region ⭐️ Footer*/
  .main-footer .inner-container {
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 200px;
  }
  /*endregion*/
}
