/*region Root Properties*/
:root {
  /* 10px = 1 rem */
  font-size: 62.5%;

  /*Fonts variables*/
  --font: "Raleway", sans-serif;
  --font-bold: 600;
  --font-regular: 300;
  --text-small: 1.6rem;
  --text-normal: 1.8rem;
  --text-xl: 2.2rem;

  /*Colors Variables*/
  --color-black: #000000;
  --color-white: #ffffff;
  --color-blue: #0065fc;
  --color-light-blue: #deebff;
  --color-gray: #f2f2f2;

  /*Other*/
  scroll-behavior: smooth;
  --card-width: 320px;
  --card-height: 190px;
}

/*endregion*/

/*region Global*/
body {
  box-sizing: border-box;
  font-family: var(--font);
  font-weight: var(--font-regular);
  font-size: var(--text-normal);
  color: var(--color-black);
  background-color: var(--color-white);
}
::selection {
  background-color: var(--color-light-blue);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li {
  margin: 0;
  padding: 0;
  letter-spacing: 0.2px;
}

a,
a:visited {
  text-decoration: none;
  color: var(--color-black);
}

a:active,
a:hover {
  color: var(--color-blue);
}

body > header,
body > main,
body > footer {
  padding-inline: 3rem;
}

h1,
h2,
h3,
h4,
strong,
input,
button {
  font-weight: var(--font-bold);
}
p,
a,
li {
  font-weight: var(--font-regular);
}
h1,
h2 {
  font-size: var(--text-xl);
}
h3,
input,
button {
  font-size: var(--text-normal);
}
h4,
p,
a,
li {
  font-size: var(--text-small);
}
/*endregion*/

/*region HEADER*/
/*region Navigation*/
nav {
  height: 12rem;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

nav img {
  width: 10rem;
  object-fit: cover;
  object-position: center;
  padding-left: 1rem;
}

nav ul {
  height: 100%;
}

nav ul li {
  height: 100%;
  display: inline-grid;
  width: max-content;
  place-content: center;
  border-top: 2px solid #ffffff00;
}

nav ul li:hover {
  border-top: 2px solid var(--color-blue);
  cursor: pointer;
}

nav ul li:hover a {
  color: var(--color-blue);
}

nav ul li a {
  display: inline-block;
  margin-inline: 2rem;
}

/*endregion*/
/*Header Title*/
/*region Section-principale*/
/*Title*/
body > header > section > header > p {
  font-weight: var(--font-regular);
}

header > section > header > * {
  margin-block: 1rem;
}
.search-and-filters {
  margin-top: 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 2ch;
}
/*region search-form*/

.form {
  --rounded: 13px;
  --square-icon: 50px;
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  border-radius: var(--rounded);
}
.form label,
.form input,
.form button {
  display: inline-block;
  height: var(--square-icon);
  margin: 0;
  padding: 0;
  border: none;
}
.form label {
  position: relative;
  height: var(--square-icon);
  width: var(--square-icon);
  background-color: var(--color-gray);
}
.form label > i {
  position: absolute;
  top: 16px;
  left: 19px;
}

.form input {
  padding-inline: 2ch;
  box-sizing: border-box;
  border-block: 1px solid var(--color-gray);
}
.form button {
  background-color: var(--color-blue);
  color: var(--color-white);
  border-top-right-radius: var(--rounded);
  border-down-right-radius: var(--rounded);
  width: fit-content;
  padding-inline: 2ch;
}
.form button:hover {
  cursor: pointer;
}
.search-icon {
  display: none;
}
.search-text {
  display: inline-block;
}

/*endregion search*/
/*region filters*/
.filters {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.filter-item {
  display: inline-block;
  min-width: max-content;
  border-radius: 50px;
  border: 2px solid var(--color-gray);
}

/*Filter Icon*/
.filters a span {
  --circle: 50px;
  display: inline-grid;
  place-content: center;
  border-radius: 100%;
  background-color: var(--color-light-blue);
  color: var(--color-blue);
  width: var(--circle);
  height: var(--circle);
  z-index: 50;
  transform: translateX(-3px);
}
.filter-item p {
  display: inline;
  font-size: var(--text-normal);
  font-weight: var(--font-bold);
  padding-inline: 10px 15px;
  margin-inline: auto;
}

/*endregion filters*/
/*region footer*/

/*Footer of the Header -> information*/
.search-and-filters + footer {
  display: flex;
  align-items: center;
  margin-block: 3rem;
}
.search-and-filters + footer span {
  display: inline-block;
  --circle: 25px;

  text-align: center;
  width: var(--circle);
  height: var(--circle);
  border-radius: 100%;
  border: 1px solid var(--color-gray);
  color: var(--color-blue);
}

.search-and-filters + footer span i {
  font-size: calc(var(--text-small) - 5px);
  font-weight: bold;
}

.search-and-filters + footer p {
  font-size: var(--text-small);
  font-weight: var(--font-regular);
}
/*endregion search_&_filter*/
/*endregion section-principale*/

/*endregion header*/

/*region MAIN*/
/*region Section-Variables*/
main {
  --rounded: 20px;
  --shadow: rgba(0, 0, 0, 0.2);
  --shadow-accent: rgba(0, 0, 0, 0.3);
}
/*endregion*/
/*region Section-Layout*/

.hosting,
.most-popular,
.activities {
  border-radius: var(--rounded);
  padding: 3rem;
  width: auto;
}

.hosting,
.most-popular {
  background-color: var(--color-gray);
}

.hosting > header,
.most-popular > header,
.activities > header {
  margin-bottom: 3rem;
}

.hosting .cards-container,
.most-popular .cards-container {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  margin-bottom: 3rem;
}
.card {
  border-radius: var(--rounded);
  padding: 5px;
  background-color: var(--color-white);
  box-shadow: 0 5px 15px var(--shadow);
  transition: transform 300ms ease-in-out;
}
.card:hover {
  transform: rotateZ(1deg) scale(103%);
  box-shadow: 0 5px 5px var(--shadow-accent);
}
.hosting > footer *,
.most-popular > footer *,
.activities > footer * {
  font-weight: var(--font-bold);
  font-size: var(--text-normal);
}
/*endregion*/
/*region SECTION-HOSTING*/
.hosting .cards-container {
  flex-direction: row;
}
/*region card*/
/*region card-props*/
.hosting .card {
  width: 250px;
  height: var(--card-height);
}

.hosting .card .card-link {
  width: 100%;
  height: 100%;
}
/*endregion card-props*/
/*region card-header*/
.hosting .card-header {
  overflow: hidden;
  border-top-left-radius: var(--rounded);
  border-top-right-radius: var(--rounded);
  height: 60%;
}

.hosting .card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/*endregion card-header*/
/*region card-content*/
.hosting .card-content {
  margin-inline: 5px;
}
.hosting .card-content h3,
.hosting .card-content p,
.hosting .card-content div {
  padding: 0;
  margin: 5px 0 0;
}
.hosting .card-content p {
  font-weight: var(--font-regular);
  font-size: var(--text-small);
}
.hosting .card-content div i {
  color: var(--color-blue);
}
/*Stars ⭐️*/
.hosting .card:first-of-type .card-content div i:last-child,
.hosting .card:nth-of-type(3) .card-content div i:last-child,
.hosting .card:nth-of-type(4) .card-content div i:last-child,
.hosting .card:nth-of-type(4) .card-content div i:nth-last-child(2),
.hosting .card:nth-of-type(5) .card-content div i:last-child {
  color: var(--color-gray);
}

.hosting .card:first-of-type .price,
.hosting .card:nth-of-type(5) .price {
  font-weight: var(--font-bold);
}
/*endregion card-content*/
/*endregion card*/
/*endregion*/
/*region SECTION-POPULAR*/
.most-popular header {
  display: flex;
  justify-content: space-between;
}
.most-popular .cards-container {
  flex-direction: column;
}
.most-popular .card-link {
  width: 100%;
  height: 100%;
  display: flex;
}
/*region card*/
/*region card-props*/
.most-popular .card {
  width: var(--card-width);
  height: 150px;
}
/*endregion*/
/*region card-header*/
.most-popular .card-header {
  overflow: hidden;
  border-top-left-radius: var(--rounded);
  border-bottom-left-radius: var(--rounded);
  width: 35%;
}
.most-popular .card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/*endregion*/
/*region card-content*/
.most-popular .card-content {
  margin-inline: 15px 0;
  height: 100%;
  position: relative;
}
.most-popular .card-content h3,
.most-popular .card-content p,
.most-popular .card-content div {
  max-width: 18ch;
  padding: 0;
  margin: 0;
}
.most-popular .card-content h3 {
  margin: 15px 0 5px;
}
.most-popular .card-content p {
  font-weight: var(--font-regular);
  font-size: var(--text-small);
}
.most-popular .card-content div {
  position: absolute;
  bottom: 10px;
}
.most-popular .card-content div i {
  color: var(--color-blue);
}
/*Stars ⭐️*/
.most-popular .card:nth-of-type(2) .card-content div i:last-child,
.most-popular .card:nth-of-type(3) .card-content div i:last-child {
  color: var(--color-gray);
}
/*endregion*/
/*endregion card*/
/*endregion*/
/*region SECTION-ACTIVITIES*/
.activities .cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*TODO Jouer sur la taille du conteneur par rapport a la width */
  /*NOTE : puis flex shrink / basis / growth  */
  height: calc(100vh - 100vh);
  width: auto;
  gap: 30px;
  flex-basis: var(--card-height);
}
/*region card*/
/*region card-props*/
.activities .card {
  width: var(--card-width);
  height: var(--card-height);
}

.activities .card:nth-of-type(1),
.activities .card:nth-of-type(4) {
  flex-grow: 1;
}
.activities .card:nth-of-type(2) {
    flex-grow: 1;
}
.activities .card:nth-of-type(3) {
  flex-grow: 1;
}
.activities .card:nth-of-type(5) {
  flex-grow: 1;
}
.activities .card:nth-of-type(6) {
  flex-grow: 1;
}
/*endregion card-props*/
/*region card-header*/
.activities .card-header {
  overflow: hidden;
  border-top-left-radius: var(--rounded);
  border-top-right-radius: var(--rounded);
  height: 60%;
}

.activities .card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/*endregion card-header*/
/*region card-content*/
.activities .card-content {
  margin-inline: 5px;
}
.activities .card-content h3 {
  padding: 0;
  margin: 5px 0 0;
}

/*endregion card-content*/
/*endregion card*/
/*endregion card-props*/
/*endregion*/
/*endregion Main*/
/*region Footer*/
body > footer {
  display: none;
}
/*endregion Footer*/
