@media only screen and (max-width: 768px) {
  /*region Header*/
  /*region Navigation*/
  .header {
    gap: 35px;
  }
  .navigation {
    flex-direction: column;
    align-items: center;
    height: 130px;
    justify-content: space-between;
  }
  .navigation--items {
    width: 100%;
  }
  .navigation--items > li {
    width: 100%;
  }
  .navigation--link {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 3px solid #f2f2f2;
  }
  .navigation--link:hover {
    border-bottom: 3px solid #0065fc;
  }
  /*endregion*/
  /*endregion*/
  .header > section {
    margin-inline: 20px;
  }
  .header > section {
    gap: 30px;
  }

  .header > section > * {
  }
  .header--main-title {
    width: 293px;
  }
  .header--main-form {
    width: 332px;
  }
  .header--main-form button {
    width: 55px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }
  .search-text {
    display: none;
  }
  .search-icon {
    display: inline-block;
  }

  .fa-magnifying-glass {
    position: absolute;
    font-size: 17px;
    top: 16px;
    left: 16px;
  }
}
