@media only screen and (min-width: 769px) and (max-width: 992px) {

  .info--bubble {
    transform: translateY(-2px);
  }


  .filter--title {
    flex-basis: 100%;
  }

  .hosting .card--wrapper {
    justify-content: center;
  }

  .most-popular {
    order: -1;
  }


  .activities {
    padding-top: 20px;
  }

  .activities .card--wrapper {
    align-items: center;
    justify-content: center;
    gap: 27px;
  }
  .activities .card {
    width: 334px;
  }
  .activities .card {
    height: 198px;
  }

  .activities .card-header {
    height: 130px;
  }
  .activities .card-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .activities .card-content {
    padding-top: 27px;
    padding-left: 17px;
  }

  .footer {
    height: auto;
  }
  .footer .inner-container {
    flex-direction: column;
    gap: 40px;
  }
}
